<!DOCTYPE html>
<html lang="zh-Hant-HK">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/sign-form.css">
  <script defer src="/javascripts/forms/profileFormHandler.js"></script>
  <style>
    main {
      min-height: 90vh;
    }

    #sign-block {
      margin-top: 2vh;
      margin-bottom: 10vh;
    }

    #image {
      text-align: center;
    }

    #image img {
      border: 1px dotted #cccccc;
      border-radius: 50%;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    #sign-block #isDormantLabel {
      display: inline-block;
      width: auto;
      vertical-align: bottom;
    }

    #sign-block #isDormant {
      display: inline-block;
      margin-bottom: 0;
      width: auto;
    }
  </style>
</head>

<body>
  <div id="container">
    <%- include('./_header.ejs') %>
      <main>
        <div id="sign-block">
          <div id="image">
            <h1>Profile</h1>
            <a id="avatar" target="_blank"
              href="<%= user.avatar ? '/uploads/avatars/originals/' + user.avatar : '/images/default-avatar.png' %>">
              <img id="thumbnail"
                src="<%= user.avatar ? '/uploads/avatars/thumbnails/' + user.avatar : '/images/default-avatar.png' %>"
                alt="User Thumbnail">
            </a>
          </div>
          <form id="profileForm" enctype="multipart/form-data">
            <label for="email">Update Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required>
            <label for="username">Update Username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" required>
            <label for="newAvatar">Upload New Avatar:</label>
            <input type="file" id="newAvatar" name="newAvatar" accept="image/*">
            <label for="isDormant" id="isDormantLabel">Go Dormant:
              <input type="checkbox" id="isDormant" name="isDormant" <%=user.isDormant ? 'checked' : '' %>>
            </label>
            <button type="submit">Update Profile</button>
            <p id="message"></p>
          </form>
        </div>
      </main>
      <%- include('./_footer.ejs') %>
  </div>
</body>

</html>