<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  <%=title%>
</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/fake-table.css">
<style>
  #welcome {
    margin: auto;
  }

  section {
    padding: 10px;
  }

  .pagination-wrapper {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 0;
    position: relative;
  }

  .pagination {
    display: inline-flex;
    justify-content: center;
    padding: 1em;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
  }

  .pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #28a745; /* 綠色系 */
    border-radius: 4px;
  }

  .pagination a:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
  }

  .pagination a.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
  }

</style>
</head>

<body>
  <% function camelCaseToNormal(text) { 
    return text.replace(/([A-Z])/g, ' $1' ).replace(/^./, function(str){ 
      return str.toUpperCase(); }).trim(); } %>
    <div id="container">
      <%- include('_header.ejs') %>
        <main>
          <section>
          <% if (users.length > 0) { %>

            <div class="pagination-wrapper">
              <nav class="pagination">
                <ul>
                  <li><a href="/users/1">First</a></li>
                  <li><a href="/users/<%=pageInfo.prevPage%>">Previous</a></li>
                  <% for(let i=pageInfo.leftEdge; i <=pageInfo.rightEdge; i++) { %>
                    <li><a href="/users/<%=i%>" <%=pageInfo.currentPage == i ? 'class=active' : ''%>>
                        <%=i%>
                      </a></li>
                    <% } %>
                      <li><a href="/users/<%=pageInfo.nextPage%>">Next</a></li>
                      <li><a href="/users/<%=pageInfo.totalPages%>">Last</a></li>
                </ul>
              </nav>
            </div>


            <div class="fake-table">
              <div class="header-row">
                <% let skipFields=['_id', 'password' , 'role' , '__v' ]; let count=0; for (const [key, value] of
                  Object.entries(users[0])) { if (skipFields.includes(key)) { continue; } count++; %>
                  <div class="header-cell" id="hc<%=count%>">
                    <%=camelCaseToNormal(key)%>
                  </div>
                  <% } %>
              </div>
              <% for (const [dim1key, dim1value] of Object.entries(users)) { %>
                <div class="data-row">
                  <% for (const [dim2key, dim2value] of Object.entries(dim1value)) { 
                    if (skipFields.includes(dim2key)) { continue; } %>
                    <div class="data-cell">
                      <div class="cell-header">
                        <%=camelCaseToNormal(dim2key)%>
                      </div>
                      <% if (dim2key=='avatar' ) { %>
                        <div class="cell-data <%=dim2key%>">
                          <img
                            src="<%= (dim2value && dim2value.trim() !== '' && dim2value !== 'default-avatar.png') ? `/uploads/avatars/thumbnails/${dim2value}` : '/images/default-avatar.png' %>"
                            width="100px" alt="User Avatar">
                        </div>
                        <% } else { %>
                          <div class="cell-data" class="text">
                            <%=dim2value%>
                          </div>
                          <% } %>
                    </div>
                    <% } %>
                </div>
              <% } %>
            </div>

            <div class="pagination-wrapper">
              <nav class="pagination">
                <ul>
                  <li><a href="/users/1">First</a></li>
                  <li><a href="/users/<%=pageInfo.prevPage%>">Previous</a></li>
                  <% for(let i=pageInfo.leftEdge; i <=pageInfo.rightEdge; i++) { %>
                    <li><a href="/users/<%=i%>" <%=pageInfo.currentPage == i ? 'class=active' : ''%>>
                        <%=i%>
                      </a></li>
                    <% } %>
                      <li><a href="/users/<%=pageInfo.nextPage%>">Next</a></li>
                      <li><a href="/users/<%=pageInfo.totalPages%>">Last</a></li>
                </ul>
              </nav>
            </div>

          <% } %>
          </section>

        </main>
        <%- include('_footer.ejs') %>
    </div>
</body>

</html>